<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="restUser" type="com.colorcc.user.model.User" />
		<typeAlias alias="restRole" type="com.colorcc.user.security.model.Role" />
		<typeAlias alias="restUserRole" type="com.colorcc.user.security.model.UserRole" />
		<typeAlias alias="restUserVO" type="com.colorcc.user.security.model.UserVO" />
	</typeAliases>
	<mappers>
		<mapper resource="com/colorcc/user/mapper/UserMapper.xml" />
		<mapper resource="com/colorcc/user/security/mapper/RoleMapper.xml" />
		<mapper resource="com/colorcc/user/security/mapper/UserRoleMapper.xml" />
		<mapper resource="com/colorcc/user/security/mapper/UserVOMapper.xml" />
	</mappers>
</configuration>